
body {
  background-color: aqua;
}

.timer {
  border: 2px lightgreen solid;
  background-color: black;
  color: lightgreen;
  width: 50px;
  text-align: center;
  margin-left:auto;
}

table, th, td {
  border: 1px solid black;
  background-color: rgba(179, 176, 176, 0.765);
}

th, td{
  width: 20px;
  height: 20px;
  text-align: center;
}