
html {
  min-height: 100%;
  background-image: url('bgImg1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  
  background-repeat: no-repeat;
  text-align: center;
}

.btn {
  color:lightgreen;
  background-color: black;
  border: 2px solid green;
  margin-right: 10px;
}

.timer {
  border: 3px lightgreen dotted;
  background-color: black;
  color: lightgreen;
  width: 50px;
  text-align: center;
  
}

.parent{
  padding-top: 10px;
  display: inline-flex;
}

.lives, .flags, .safeClick{
  color: green;
  background-color: black;
  border: 2px green solid;
  text-decoration: underline dashed;
  width: 120px;
  display: inline-block;
  margin-left: 100px;
}

.hints {
  display: inline-block;
  text-align: center;
  margin-left: 100px;
  background-color: black;
  color: yellow;
  border: 2px solid yellow;
  width: 120px;
}

.hints:hover {
  cursor: help;
}


table, th, td {
  margin: auto;
  table-layout:fixed;
  border: 1px solid black;
  background-color: rgba(179, 176, 176, 0.765);
}

th, td{
  width: 30px;
  height: 30px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}


td:hover {
  border-color: yellow;
}

#result{
  color: yellow;
  background-color: rgba(0, 0, 0, 0.485);
  font-size: large;
  font-weight: bold;
}

.footer{
  position:fixed;
  width: 100%;
  bottom: 2px;
  background-color: beige;
  border: 2px rgb(234, 234, 111) solid;
  height: 20px;
  font-size: medium;
  display: flex;
  justify-content:center;
  padding-bottom: 15px;
}